<!DOCTYPE html>
<html>
<head>
	<title>Check Me Out</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<script src="https://cdn.ravenjs.com/3.24.0/raven.min.js" crossorigin="anonymous"></script>
</head>
<body style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="main-header header">
					<div class="logo">
						<span class="logo-1">Check</span><span class="logo-2">Me</span><span class="logo-3">Out</span>
						<span class="badge badge-ver"></span>
					</div>
					<div class="main-controls">
						<i class="material-icons" id="run-tasks">play_arrow</i>
						<i class="material-icons" id="pause-tasks">stop</i>
						<i class="material-icons" id="new-task" href="task.html">add</i>
						<i class="material-icons" id="delete-selected">delete</i>
						<i class="material-icons" href="restocks.html" id="restocks">replay</i><span class="badge badge-count" id="restock-count" style="display: none;">0</span>
						<i class="material-icons" href="settings.html">settings</i>
						<div id="time">00:00:00</div>
					</div>
				</div>

				<ul class="list-group" id="tasks">
					<li class="list-group-item list-head">
						<div class="col-icon"><i class="material-icons">check_box</i></div>
						<div class="col">Task name</div>
						<div class="col">Shipping</div>
						<div class="col">Payment</div>
						<div class="col">Status</div>
					</li>
					<li class="list-group-item list-item-empty"><i class="material-icons">error_outline</i>&nbsp; No tasks to display. Click the 'add' button above to create one.</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="links">
			<a href="https://twitter.com/checkmeoutbots">Twitter</a>
			<a href="https://discord.gg/nTxpstp">Discord</a>
		</div>
	</div>
</body>
<script>
	window.$ = window.jQuery = require('./js/jquery.min.js');
	window.Tether = require('./js/tether.min.js');
	require('./js/bootstrap.js');
	var common = require('./js/common.js');
	require('./js/index.js');
	var shell = require('electron').shell;

	$(document).on('click', 'a[href^="http"]', function(event) {
		event.preventDefault();
		shell.openExternal(this.href);
	});
</script>
</html>
