<!DOCTYPE html>
<html>
<head>
	<title>Check Me Out</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<script src="https://cdn.ravenjs.com/3.24.0/raven.min.js" crossorigin="anonymous"></script>
</head>
<body style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="header">
					<div class="logo" href="payment.html">
						<i class="material-icons">arrow_back</i>
						<span class="logo-1">Check</span><span class="logo-2">Me</span><span class="logo-3">Out</span>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<h4>
							New payment profile
							<button type="button" class="btn btn-header" id="save-payment">Save</button>
						</h4>
						<hr>

						<form>
							<div class="row">
								<div class="col">
									<label for="cardtype">Card type</label>
									<select class="form-control" id="cardtype">
										<option value="visa">Visa</option>
										<option value="american_express">American Express</option>
										<option value="master">Mastercard</option>
										<option value="solo">Solo</option>
										<option value="paypal">PayPal</option>
										<option value="jcb">JCB</option>
										<option value="cod">Cash on Delivery (JP only)</option>
									</select>
								</div>
								<div class="col">
									<div class="form-group"> 
										<label for="cardno">Card number</label>
										<input type="text" class="form-control" id="cardno">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<div class="form-group"> 
										<label for="expirymonth">Expiry month (e.g. 09)</label>
										<input type="text" class="form-control" id="expirymonth">
									</div>
								</div>
								<div class="col">
									<div class="form-group"> 
										<label for="expiryyear">Expiry year (e.g. 2020)</label>
										<input type="text" class="form-control" id="expiryyear">
									</div>
								</div>
								<div class="col">
									<div class="form-group"> 
										<label for="cvv">CVV</label>
										<input type="text" class="form-control" id="cvv" placeholder="optional">
										<small>You may want to enter your CVV manually</small>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
<script>
	window.$ = window.jQuery = require('./js/jquery.min.js');
	require('./js/common.js');
	require('./js/new-payment.js');
</script>
</html>