<!DOCTYPE html>
<html>
<head>
	<title>Check Me Out</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<script src="https://cdn.ravenjs.com/3.24.0/raven.min.js" crossorigin="anonymous"></script>
</head>
<body style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="header">
					<div class="logo" href="index.html">
						<i class="material-icons">arrow_back</i>
						<span class="logo-1">Check</span><span class="logo-2">Me</span><span class="logo-3">Out</span>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<h4>
							Restock monitors
							<button type="button" class="btn btn-header" href="new-restock.html">New monitor</button>
						</h4>
						<hr>

						<ul class="list-group" id="monitors">
							<li class="list-group-item list-item-empty"><i class="material-icons">error_outline</i>&nbsp; You have not created any restock monitors.</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	window.$ = window.jQuery = require('./js/jquery.min.js');
	require('./js/common.js');
	require('./js/restocks.js');
</script>
</html>