<!DOCTYPE html>
<html>
<head>
	<title>Check Me Out</title>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<style>
		body {
			margin: 0;
		}
		#root-webview {
			position: absolute;
			width: 100%;
			top: 32px;
			bottom: 0;
		}
	</style>
</head>
<body>
	<webview id="root-webview" src="preload.html" plugins nodeintegration></webview>
</body>
<script>
	window.$ = require('./js/jquery.min.js');
	require('./js/common-root.js');
</script>
</html>