<!DOCTYPE html>
<html>
<head>
	<title>Check Me Out</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<script src="https://cdn.ravenjs.com/3.24.0/raven.min.js" crossorigin="anonymous"></script>
</head>
<body style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="header">
					<div class="logo" href="index.html">
						<i class="material-icons">arrow_back</i>
						<span class="logo-1">Check</span><span class="logo-2">Me</span><span class="logo-3">Out</span>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<h4>
							Settings
						</h4>
						<hr>

						<div class="card-container">
							<div class="settings-card" id="card-region" href="region.html">
								<i class="material-icons">location_on</i>
								<h4>Region</h4>
							</div>
							<div class="settings-card" id="card-shipping" href="shipping.html">
								<i class="material-icons">local_shipping</i>
								<h4>Shipping profiles</h4>
							</div>
							<div class="settings-card" id="card-payment" href="payment.html">
								<i class="material-icons">payment</i>
								<h4>Payment profiles</h4>
							</div>
							<div class="settings-card" id="other-settings" href="advanced.html">
								<i class="material-icons">dashboard</i>
								<h4>Other settings</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer-text" style="width: 100%; text-align: center; position: fixed; bottom: -60px; color: #aaa; transition: 0.15s;">
		<p>&copy; 2018 Check Me Out Ltd. All rights reserved.</p>
		<a href="https://tdjs.tech" style="font-family: 'Futura'; color: #ccc; font-size: 26px; margin-bottom: 15px; display: inline-block; text-decoration: none;">tdjs</a>
	</div>
</body>
<script>
	window.$ = window.jQuery = require('./js/jquery.min.js');
	require('./js/common.js');
	require('./js/settings.js');
	var shell = require('electron').shell;

	$(document).on('click', 'a[href^="http"]', function(event) {
		event.preventDefault();
		shell.openExternal(this.href);
	});

	$('#footer-text').on('mouseenter', function() {
		$(this).css('bottom', '0');
	});
	$('#footer-text').on('mouseleave', function() {
		$(this).css('bottom', '-60px');
	});
</script>
</html>
